<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} {{#if stitle}}
    - {{stitle}}
  {{/if}}</title>

  <link rel="stylesheet" href="/public/dist/global.css">
</head>
<body class="auth-section-bg">
  {{{body}}}

   <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>