<section class="bg-transparent">
  <div
    class="px-4 py-24 pt-44 mx-auto sm:max-w-xl md:max-w-full lg:max-w-6xl md:px-24 lg:px-8 lg:py-22"
  >
    <div class="grid lg:gap-5 row-gap-8 lg:grid-cols-2">
      <div class="flex flex-col justify-center items-center lg:items-start">
        <div class="max-w-xl mb-6">
          <div>
            <p
              class="inline-block px-4 py-2 mb-4 text-xs font-semibold tracking-wider text-white uppercase rounded-full bg-gradient-to-tr from-[#4886D9] to-pink-500"
            >
              Fácil
            </p>
          </div>
          <h2
            class="mb-6 text-5xl md:text-6xl font-bold tracking-tight text-gray-800 sm:leading-none"
          >
            Encontre ONGs<br class="hidden md:block" />
            para você
            <span
              class="inline-block bg-gradient-to-tr from-[#4886D9] to-pink-500 bg-clip-text text-transparent"
            >doar</span>
          </h2>
          <p class="text-base text-gray-700 md:text-lg">
            Encontre ONGs para doar e ajudar a mudar o mundo. Ajudar o próximo é
            uma das coisas mais gratificantes que podemos fazer.
          </p>
        </div>
        <a
          href="/"
          aria-label=""
          class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800"
        >
          Saiba mais
          <svg
            class="inline-block w-3 ml-2"
            fill="currentColor"
            viewBox="0 0 12 12"
          >
            <path
              d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"
            ></path>
          </svg>
        </a>
      </div>
      <div
        class="hidden relative lg:block z-0 scale-75 md:scale-50 lg:scale-100"
      >
        <svg
          class="absolute w-full text-[#efefef]"
          fill="currentColor"
          viewBox="0 0 600 392"
        >
          <rect x="0" y="211" width="75" height="181" rx="8"></rect>
          <rect x="525" y="260" width="75" height="132" rx="8"></rect>
          <rect x="105" y="83" width="75" height="309" rx="8"></rect>
          <rect x="210" y="155" width="75" height="237" rx="8"></rect>
          <rect x="420" y="129" width="75" height="263" rx="8"></rect>
          <rect x="315" y="0" width="75" height="392" rx="8"></rect>
        </svg>
        <svg class="relative w-full" fill="currentColor" viewBox="0 0 600 392">
          <defs>
            <linearGradient id="grad1" x1="0%" y1="100%" x2="100%" y2="0%">
              <stop offset="0%" style="stop-color:#4886D9;stop-opacity:1" />
              <stop
                offset="100%"
                style="stop-color:rgb(255, 0, 174);stop-opacity:1"
              />
            </linearGradient>
          </defs>
          <rect
            x="0"
            y="311"
            width="75"
            height="81"
            rx="8"
            fill="url(#grad1)"
          ></rect>
          <rect
            x="525"
            y="351"
            width="75"
            height="41"
            rx="8"
            fill="url(#grad1)"
          ></rect>
          <rect
            x="105"
            y="176"
            width="75"
            height="216"
            rx="8"
            fill="url(#grad1)"
          ></rect>
          <rect
            x="210"
            y="237"
            width="75"
            height="155"
            rx="8"
            fill="url(#grad1)"
          ></rect>
          <rect
            x="420"
            y="205"
            width="75"
            height="187"
            rx="8"
            fill="url(#grad1)"
          ></rect>
          <rect
            x="315"
            y="83"
            width="75"
            height="309"
            rx="8"
            fill="url(#grad1)"
          ></rect>
        </svg>
      </div>
    </div>
  </div>

  {{! Divisor }}
  <div class="absolute w-full overflow-hidden leading-[0] rotate-180">
    <svg
      class="block w-full h-20 max-h-20 m-0 relative"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 "
      preserveAspectRatio="none"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z"
        />
      </defs>
      <g class="parallax1">
        <use xlink:href="#gentle-wave" opacity=".25" x="50" y="3" fill="#fff" />
      </g>
      <g class="parallax2">
        <use xlink:href="#gentle-wave" x="50" y="0" opacity=".5" fill="#fff" />
      </g>
      <g class="parallax3">
        <use xlink:href="#gentle-wave" x="50" y="9" opacity=".75" fill="#fff" />
      </g>
      <g class="parallax4">
        <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff" />
      </g>
    </svg>
  </div>
</section>

{{! <div class="absolute w-full overflow-hidden leading-[0]">
  <svg
    class="relative w-[calc(103%+1.3px)] h-24 block"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
      opacity=".25"
      class="fill-white"
    ></path>
    <path
      d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
      opacity=".5"
      class="fill-white"
    ></path>
    <path
      d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
      class="fill-white"
    ></path>
  </svg>
</div> }}
{{! <div class="w-full overflow-hidden leading-[0] rotate-180">
  <svg
    class="relative w-[calc(103%+1.3px)] h-24 block"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
      opacity=".25"
      class="fill-[#2D4BA6]"
    ></path>
    <path
      d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
      opacity=".5"
      class="fill-[#2D4BA6]"
    ></path>
    <path
      d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
      class="fill-[#2D4BA6]"
    ></path>
  </svg>
</div> }}

<section id="sobre" class="about-section-bg pt-4">
  <div
    class="px-4 py-24 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
  >
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <div>
        <p
          class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-white uppercase rounded-full bg-teal-accent-400"
        >
          Sobre nós
        </p>
      </div>
      <h2
        class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-white sm:text-4xl md:mx-auto"
      >
        <span class="relative inline-block">
          <svg
            viewBox="0 0 52 24"
            fill="currentColor"
            class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block"
          >
            <defs>
              <pattern
                id="07690130-d013-42bc-83f4-90de7ac68f76"
                x="0"
                y="0"
                width=".135"
                height=".30"
              >
                <circle cx="1" cy="1" r=".7"></circle>
              </pattern>
            </defs>
            <rect
              fill="url(#07690130-d013-42bc-83f4-90de7ac68f76)"
              width="52"
              height="24"
            ></rect>
          </svg>
          <span class="relative">Plataforma</span>
        </span>
        que concentra as maiores ONGs
      </h2>
      <p class="text-base text-gray-300 md:text-lg">
        Nosso objetivo é conectar pessoas que desejam ajudar com ONGs que estão
        fazendo a diferença no mundo.
      </p>
    </div>
    <div
      class="grid max-w-screen-lg mx-auto space-y-6 lg:grid-cols-2 lg:space-y-0 lg:divide-x"
    >
      <div class="space-y-6 sm:px-16">
        <div class="flex flex-col max-w-md sm:flex-row">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50"
            >
              <svg
                class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"
                ></polygon>
              </svg>
            </div>
          </div>
          <div>
            <h6 class="mb-3 text-white text-xl font-bold leading-5">The deep
              ocean</h6>
            <p class="text-sm text-gray-300">
              Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr
              zimbra, mobly napster.
            </p>
          </div>
        </div>
        <div class="flex flex-col max-w-md sm:flex-row">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50"
            >
              <svg
                class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"
                ></polygon>
              </svg>
            </div>
          </div>
          <div>
            <h6 class="mb-3 text-white text-xl font-bold leading-5">When has
              justice</h6>
            <p class="text-sm text-gray-300">
              Lookout flogging bilge rat main sheet bilge water nipper fluke to
              go on account heave down clap of thunder.
            </p>
          </div>
        </div>
      </div>
      <div class="space-y-6 sm:px-16">
        <div class="flex flex-col max-w-md sm:flex-row">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50"
            >
              <svg
                class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"
                ></polygon>
              </svg>
            </div>
          </div>
          <div>
            <h6 class="mb-3 text-xl text-white font-bold leading-5">Organically
              grow</h6>
            <p class="text-sm text-gray-300">
              Skate ipsum dolor sit amet, alley oop vert mute-air Colby Carter
              flail 180 berm over the sea.
            </p>
          </div>
        </div>
        <div class="flex flex-col max-w-md sm:flex-row">
          <div class="mb-4 mr-4">
            <div
              class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-50"
            >
              <svg
                class="w-8 h-8 text-deep-purple-accent-400 sm:w-10 sm:h-10"
                stroke="currentColor"
                viewBox="0 0 52 52"
              >
                <polygon
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  fill="none"
                  points="29 13 14 29 25 29 23 39 38 23 27 23"
                ></polygon>
              </svg>
            </div>
          </div>
          <div>
            <h6 class="mb-3 text-xl text-white font-bold leading-5">Have a good
              one</h6>
            <p class="text-sm text-gray-300">
              Cheese on toast airedale the big cheese. Danish fontina cheesy
              grin airedale danish fontina.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{! Divisor }}
  <div class="= w-full overflow-hidden leading-[0]">
    <svg
      class="block w-full h-20 max-h-20 m-0 relative"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 "
      preserveAspectRatio="none"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z"
        />
      </defs>
      <g class="parallax1">
        <use xlink:href="#gentle-wave" opacity=".25" x="50" y="3" fill="#fff" />
      </g>
      <g class="parallax2">
        <use xlink:href="#gentle-wave" x="50" y="0" opacity=".5" fill="#fff" />
      </g>
      <g class="parallax3">
        <use xlink:href="#gentle-wave" x="50" y="9" opacity=".75" fill="#fff" />
      </g>
      <g class="parallax4">
        <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff" />
      </g>
    </svg>
  </div>
</section>

<section id="precos" class="bg-transparent pt-16">
  <div class="relative items-center w-full mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div
      class="px-4 py-18 mx-auto text-center sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-10"
    >
      <div class="max-w-xl md:mx-auto text-left sm:text-center lg:max-w-2xl"><h2
          class="mb-5 font-bold text-4xl text-[#2D4BA6] sm:text-5xl"
        >Preços e taxas</h2>
        <span class="font-light text-base text-gray-400">Nossa plataforma atende
          tanto organizações sem fins lucrativos quanto apoiadores. Oferecemos
          um plano gratuito e uma opção premium para recursos adicionais. A
          receita das assinaturas sustenta nossa plataforma e seu suporte.
          Obrigado por nos ajudar a fortalecer comunidades.</span></div>

    </div>
    <div>
      <div
        class="relative p-10 space-y-12 overflow-hidden lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 rounded-xl"
      >
        <div
          class="relative flex flex-col p-8 bg-white/80 backdrop-blur-lg shadow-lg"
        >
          <div class="flex-1">
            <h3 class="text-xl font-semibold text-neutral-600">Standard</h3>
            <p class="flex items-baseline mt-4 text-neutral-600">
              <span
                class="text-5xl font-extrabold tracking-tight text-[#2D4BA6]"
              >Grátis</span>
              <span class="ml-1 text-xl font-semibold line-through">/mês</span>
            </p>
            <p class="mt-6 text-gray-500">O essencial para você ou sua ONG.</p>
            <!-- Feature list -->
            <ul role="list" class="pt-6 mt-6 space-y-6 border-t">
              <span class="text-lg font-semibold text-neutral-600">Para
                apoiadores:</span>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-[#2D4BA6] rounded-xl"
                >
                  <box-icon
                    class="fill-white flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-neutral-600">1 ONG<span
                    class="font-extralight text-xs italic"
                  > /mês</span></span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-[#2D4BA6] rounded-xl"
                >
                  <box-icon
                    class="fill-white flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-neutral-600">2 doações<span
                    class="font-extralight text-xs italic"
                  > /mês</span></span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-[#2D4BA6] rounded-xl"
                >
                  <box-icon
                    class="fill-white flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-neutral-600">Relatórios semanais</span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-gray-300 rounded-xl"
                >
                  <box-icon
                    class="fill-white flex-shrink-0 w-5 h-5 mx-auto"
                    name="x"
                  ></box-icon>
                </div>
                <span class="ml-3 text-neutral-600">Contato direto com a ONG</span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-gray-300 rounded-xl"
                >
                  <box-icon
                    class="fill-white flex-shrink-0 w-5 h-5 mx-auto"
                    name="x"
                  ></box-icon>
                </div>
                <span class="ml-3 text-neutral-600">Suporte</span>
              </li>

              <span
                class="inline-flex text-lg font-semibold text-neutral-600"
              >Para ONGs:</span>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-[#2D4BA6] rounded-xl"
                >
                  <box-icon
                    class="fill-white flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-neutral-600">Taxa de 2,5%<span
                    class="font-extralight text-xs italic"
                  > /doação</span></span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-gray-300 rounded-xl"
                >
                  <box-icon
                    class="fill-white flex-shrink-0 w-5 h-5 mx-auto"
                    name="x"
                  ></box-icon>
                </div>
                <span class="ml-3 text-neutral-600">Contato direto com o
                  apoiador</span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-gray-300 rounded-xl"
                >
                  <box-icon
                    class="fill-white flex-shrink-0 w-5 h-5 mx-auto"
                    name="x"
                  ></box-icon>
                </div>
                <span class="ml-3 text-neutral-600">Suporte</span>
              </li>
            </ul>
          </div>
          <div class="mt-6 rounded-lg">
            <a
              href="#"
              type="highlight"
              class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-white transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-[#2D4BA6]"
            > Cadastre-se Grátis </a>
          </div>
        </div>
        <div class="relative flex flex-col p-8 bg-[#2D4BA6] rounded-2xl">
          <div class="relative flex-1">
            <h3 class="mb-4 text-xl font-semibold text-white">Premium</h3>
            <span class="text-gray-300 line-through">R$44,99</span>
            <p class="flex items-baseline mt-0 text-white">
              <span
                class="text-5xl font-extrabold tracking-tight"
              >R$29</span><span class="text-md font-extralight">,99</span>
              <span class="ml-1 text-xl font-semibold">/mês</span>
            </p>
            <p class="mt-6 text-white text-solitud">Para quem precisa contribuir
              mais</p>
            <!-- Feature list -->
            <ul role="list" class="pt-6 mt-6 space-y-6 border-t">
              <span class="text-lg font-semibold text-white">Para apoiadores:</span>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                >
                  <box-icon
                    class="fill-neutral-600 flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-white">ONGs ilimitadas</span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                >
                  <box-icon
                    class="fill-neutral-600 flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-white">Doações ilimitadas</span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                >
                  <box-icon
                    class="fill-neutral-600 flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-white">Relatórios semanais</span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                >
                  <box-icon
                    class="fill-neutral-600 flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-white">Contato direto com a ONG</span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                >
                  <box-icon
                    class="fill-neutral-600 flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-white">Suporte</span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                >
                  <box-icon
                    class="fill-neutral-600 flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-white">API</span>
              </li>

              <span class="inline-flex text-lg font-semibold text-white">Para
                ONGs:</span>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                >
                  <box-icon
                    class="fill-neutral-600 flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-white">Taxa de 0,5%<span
                    class="text-xs italic font-extralight"
                  > /doação</span></span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                >
                  <box-icon
                    class="fill-neutral-600 flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-white">Contato direto com o apoiador</span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                >
                  <box-icon
                    class="fill-neutral-600 flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-white">Suporte</span>
              </li>
              <li class="flex">
                <div
                  class="inline-flex items-center w-6 h-6 bg-white rounded-xl"
                >
                  <box-icon
                    class="fill-neutral-600 flex-shrink-0 w-5 h-5 mx-auto"
                    name="check"
                  ></box-icon>
                </div>
                <span class="ml-3 text-white">API</span>
              </li>
            </ul>
          </div>
          <div class="z-50 mt-6 rounded-lg">
            <a
              href="/pricing"
              type="highlight"
              class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 bg-white"
            > Assine o Premium </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>